/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[Name]
      ,[score]
  FROM [AdventureWorks2012].[Person].[student]

  create table [AdventureWorks2012].[Person].[student5]
  select	



  create table [AdventureWorks2012].[Person].[student1] 
  select * into [AdventureWorks2012].[Person].[student4] from [AdventureWorks2012].[Person].[student]
  
 

 delete  del
from [AdventureWorks2012].[Person].[student3] del
 , [AdventureWorks2012].[Person].[student3] main
 where del.name=main.name
 and del.id>main.id


 delete from del
 from [AdventureWorks2012].[Person].[student4] del, [AdventureWorks2012].[Person].[student4] main
 where del.name=main.name
 and del.id > main.id